<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ Title }} </title>
    <link href="/index.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="logo">Gary Feng</a>
        <ul class="nav-tabs">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/notes/">Notes</a></li>
        </ul>
    </nav>

    <article>
        {{ Content }}
    </article>

    <footer>
        <p>© 2024 Gary Feng. All rights reserved.</p>
    </footer>

</body>

</html>